[credential]
	helper =
[user]
	name = gordontsai
	email = gtsai13@gmail.com
[alias]
	root = !pwd
[url "https://github.com/gordontsai/"]
	insteadOf = _my:
[url "git@github:gordontsai/"]
	insteadOf = my:
